.container-grid{
    display: grid;
    height: 500px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill,20%);
    grid-row-gap:10px;
    grid-column-gap:20px ;
}

.e1{
    background-color: aquamarine;
    padding: 20px;
}
.e2{
    background-color: palegreen;
    padding: 20px;
}
.e3{
    background-color: blueviolet;
    padding: 20px;
}
.e4{
    background-color: coral;
    padding: 20px;
}
.e5{
    background-color: orchid;
    padding: 20px;
}
.e6{
    background-color: khaki;
    padding: 20px;
}