@keyframes breath {
    0%{ transform: scale(1); background-color: blueviolet;}
    50%{transform: scale(2); background-color: aqua;}
    100%{transform: matrix(1); background-color: blueviolet;}
}

div{
    border-radius: 100%;
    background-color: aqua;
    width: 100px;
    height: 100px;
    animation: breath 5s ease 0s infinite;
    margin: 5em;
}

